.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 60%;
  padding-top: 60px;
}
input {
  width: 22vw;
  background-color: white;
  
}
#react-autowhatever-1 {
  background-color: white;
  color: black;
}

h1{
  color: white;
}

/* @media screen and (max-width: 480px) {
  input {
    width: 15vw;
  }
} */
@media screen and (max-width: 480px) {
  input {
    width: max-content;
  }
  .App {
    height: 180vh;
  }
}